NODE_ENV="local"

#DATABASE
DB_TYPE="postgres"
PG_USER="postgres"
PG_PASSWORD="PSWD"
POSTGRES_DB="mydb"
POSTGRES_HOST="myhost"
POSTGRES_PORT=5432
BACKEND_PORT=8080

#JWT 
JWT_SECRET=SECRET
JWT_REFRESH=SECRET_REFRESH
JWT_EXPIRE_IN=10m
JWT_REFRESH_EXPIRES_IN=1d